<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
</head>
<body class="bg-gray-100 flex bg-local" style="background: url('./assets/svg/architect.svg')">
  <div class="md:w-1/2 bg-gray-100 mx-auto bg-white py-4 px-4 shadow-xl"> <!-- bg-gray-100 mx-auto max-w-6xl bg-white py-4 px-4 lg:px-12 shadow-xl mb-12 -->
    <form>
      <div class="bg-white shadow-md rounded px-6 pt-2 pb-4 mb-4 flex flex-col">
        
        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="Nome nubente 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Nome nubente 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-1 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="date" placeholder="Nascimento1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="date" placeholder="Nascimento2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="estado civil a data do casamento">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="estado civil a data do casamento">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="naturalidade 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="naturalidade 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="nacionalidade 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="nacionalidade 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="filiação 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="filiação 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="residencia 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="residencia 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="Nome após casamento 1">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Nome após casamento 2">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-full px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="application-link" type="text" placeholder="1ª residência conjugal">
          </div>
        </div>
        
        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-1/2 px-1 mb-2 md:mb-0">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="Data do casamento">
          </div>
          <div class="md:w-1/2 px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Hora do casamento">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-full px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="application-link" type="text" placeholder="lugar de celebração">
          </div>
        </div>

        <div class="-mx-3 md:flex mb-1">
          <div class="md:w-full px-1">
            <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" id="application-link" type="text" placeholder="celebrante">
          </div>
        </div>

        <div class="-mx-3 md:flex mt-2">
          <div class="md:w-full px-3">
            <button class="md:w-full bg-gray-700 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full">
              Button
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</body>
</html>
